*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Metrophobic', sans-serif;
}
.container{
    width: 100%;
    height:100vh;
    margin: 20px auto;
    display:grid;
    background-color: white;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:4% 2fr 1fr;
    grid-template-areas: "header header header header header header"
                          "section section section section section section" 
                          "article article article article article article"
                        
}
header{
    width: 92%; 
    height: 28px;
    margin-left: 4%;
    grid-area: header;
    display: flex;
    justify-content: space-between; 
}
section{
    grid-area: section;
}
article{
    grid-area: article;
}
section h1{
    margin-left: 4%;
    font-weight: bold;
    font-size: 30px;
    word-spacing: .3rem;
}
@media (max-width:767px) {
    section h1{
    font-size: 20px;
    word-spacing: 0rem;
    }
    .animate__pulse{
        height: 150px;
    }
    section div p {
        margin-left: 5%;
}
}
section div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
section p{
    margin-left: 1%;
    font-weight: bold;
}
section span{
    color: #696969;
}
.man_img{
    margin-left: 4%;
    height: 50px;
}
.animate__bounceIn{
    width: 69%;
    margin-left: 4%;
    height:70%;
    background-image: url(../assets/woman2.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 30px;
}

@media (max-width:767px) {
    .animate__bounceIn{
        height: 185px;
        width: 92%;
        border-radius: 8px;
        background-size: cover;
    }
}
.description{
    margin-left: 4%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #696969;
}